*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body,
html{
    overflow-x: hidden;
    font-family: 'Rajdhani';
}

.container{
    width: 10%; 
    height: 10vh;
}

.webgl{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

nav{
    color: beige;
    z-index: 2;
    position: relative;
    padding: 4rem 8rem;
    display: flex;
    justify-content: space-between;
}

nav a{
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
}

nav ul{
    list-style-type: none;
    display: flex;
    gap: 4rem;
}

.title{
    color: white;
    z-index: 2;
    position: absolute;
    font-size: 3rem;
    left: 50%;
    top: 75%;
    transform: translate(-50%,-75%);
}
